@charset "UTF-8";

/*【レイアウト確認用】アウトライン表示*/

/*   *{
		outline:1px dashed #0000ff;
} */

/*色の変数化（var(--orange)で使用可能）*/
html {
	--dark-orange: #EF9440;
	--orange: #FFB13C;
	--light-orange: #FFDB95;
	--light-green: #E8FFDF;
	--green: #B3F19D;
	--dark-green: #57A66D;
 	font-size:20px;
	width:100%;
		margin: 0;
	padding: 0;/*余白消去*/
}

main{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p{
	margin: 0;
	padding: 0;/*余白消去*/
}

h1 {
	font-size: 1.3rem;
	font-weight: bold;
	text-align:left;
}
hr {
	border: 0.5px dashed var(--dark-green);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

th{
	font-weight: lighter;
}
body{
	text-align:center;
}
.body{
	width:90%;
	display: inline-block;
}
/*文字カラー（文字色変えたいタグにクラス付けてください）*/
.orange{
	color: var(--dark-orange);
}
.green{
	color: var(--dark-green);
}

/*form*/
.form input{
	font-size:1rem;
	margin: 1rem 0 1rem 0;
	padding: 0.3rem 0.7rem;
	border-radius: 0.3rem;
	background-color: var(--light-green);
	border: none;
}

/*submit*/
.form input[type=submit]{
	border: none;
	color: white;
	padding: 0.3rem 0.4rem;
	border-radius: 0.3rem;
}
.form.orange input[type=submit]{
	background-color: var(--dark-orange);
}
.form.green input[type=submit]{
	background-color: var(--dark-green);
}

select {
  font-size:1rem;
    width: 8rem;
}
option{
	font-size:0.8rem;
}
/*
.select {
  display: inline-block;
  position: relative;
  border: 1px solid #eee;
  vertical-align: middle;
}

.select select {
  appearance: none;
  width: 11rem;
   border-radius:10px;
  font-size:1rem;
  padding: 11px 15px;
  padding-right: 1em;
  border: none;
  outline: 0;
  background: #fff;
  background-image: none;
  box-shadow: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  cursor: pointer;
}

.select::before {
  position: absolute;
  top: 18px;
  right: 16px;
  width: 0;
  height: 0;
  border-width: 10px 5px 0 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
  content: "";
  pointer-events: none;
}
option{
	font-size:0.3rem;
	width:0;
	height:0;
}
 */

/*popup内のフォーム*/
.popup-window .form.orange input[type=text]{
	border: 1px solid var(--dark-orange);
	background-color: white;
}
.popup-window .form.green input[type=text]{
	border: 1px solid var(--dark-green);
	background-color: white;
}



/* popup */
.popup-all{
	text-align: right;/*ポップアップを右寄せ*/
}
.popup{
	display: none; 	/* label でコントロールするので input は非表示に */
}
.popup-open {
	color: var(--dark-green);
	cursor: pointer;
	/* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */

}

.popup-overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}

/*ポップアップの後ろ暗くする*/
.popup:checked ~ .popup-overlay {
	text-align: left;
	display: block;
	z-index: 99999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*ポップアップの枠の設定*/
.popup-window {
	width: 90%;
	max-width: 90%;
	min-width: 50%;
	max-height:80%;
	min-height:20%;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup-text {
	margin: 0;
}

.popup-text:not(:last-of-type) {
	margin-bottom: 1em;
}
/*ポップアップ閉じるボタン*/
.popup-close {
	cursor: pointer;
	position: absolute;
	top: -9%;
	right: 7%;
}

/*hero*/
.hero{
	outline:1.5px solid var(--orange);
	margin: 1.5rem 0.2rem 2rem 0.2rem;
	border-radius: 8px;
}
.hero-in{
	padding: 0.5rem;
}
.hero hr{
	border: 0.5px solid var(--orange);
	margin: 0;
}

/*plan-list*/
.plan-list{
	color: var(--dark-green);
	margin: 1rem 0.3rem 1rem 0.3rem;
}
.plan-list table{
	outline:1.5px solid var(--dark-green);
	border-radius: 5px;
	width: 100%;
	border-collapse: separate;/*隙間消す*/
	border-spacing: 0;
}
.plan-list table tr{
	border-bottom: 1px solid var(--dark-green);
	padding: 0.2rem 1rem 0.2rem 1rem;
	text-align: left;
}
.plan-list table tr:last-child{
	border-bottom: none; /*最後の線消す*/
}

/*2列のリスト*/
.plan-list.two-columns table tr {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.plan-list.two-columns tr td:nth-child(2) {
	text-align: right;/*2列目を右寄せにする。 */
}

/*3列のリスト*/
.plan-list.three-columns{
	/* background-color: #FFFC62; */
	outline:2px solid red;
}
.plan-list.three-columns table tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-bottom: 2px solid red;
}
.plan-list.three-columns th {
	font-weight: bold;
	color: black;
}
.plan-list.three-columns tr td:nth-child(2) {
	font-weight: bold;
	color: black;
	text-align: center;/*2列目を中央寄せにする。 */
}
.plan-list.three-columns tr td:nth-child(3) {
	text-align: right;/*3列目を右寄せにする。 */
	color: red;
	font-weight: bold;
	font-size: 1.2rem;
}


/*common-list*/
.common-list p{
	text-align: right;
	padding-right: 2rem;
}
.common-list table{
	width: 100%;
	border-collapse: separate;/*隙間消す*/
	border-spacing: 0;
}
.common-list table tr{
	display: grid;
	grid-template-columns: 1fr 0.7fr 0.2fr;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	margin: 0.3rem;
	padding: 0.4rem 0.2rem 0 0.2rem;
}

.common-list tr td:nth-child(2) {
	text-align: right;/*2列目を右寄せにする。 */
}
.common-list tr td:nth-child(3) {
	text-align: right;/*3列目を中央寄せにする。 */
	font-weight: bold;
	font-size:1.4rem;
	margin:-0.3rem;
}
.common-list tr td:nth-child(3) input{
	border: none;
	background-color: transparent;
	color: white;
	font-weight:900;
}

.task-form th{
	font-weight: bold;
}
.task-form td input{
font-weight: bold;
font-size:1.2rem;
margin-right:0.2rem;
}

/*色によって変更*/
.common-list.orange table tr{
	background-color: var(--orange);
}
.common-list.green table tr{
	background-color: var(--dark-green);
}

/*コメント*/
.comment{
	color: var(--dark-green);
	outline:0.7px solid var(--dark-green);
	border-radius: 15px;
	padding: 0.5rem;
	text-align: center;
}
.red{
	color: red;
	font-weight: bold;
	font-size:1.2rem;
	margin: 0.5rem;
}
.bold{
	font-weight:bold;
}

.warning-comment{
	color:red;
}
.warning{
	outline: 1.5px solid red;
	color:black;
}