@charset "UTF-8";

/* ポップアップ（現在体重） */
/* ラベルの大きさ　h1と合わせる */
.popup-text {
    font-size: 1.3rem;
	font-weight: bold;
}

/* タイマー */
/* タイマー全体 */
#time {
    color: #fff;
	background-color: #EF9440;
    font-family: arial, sans-serif;
	max-width: 35rem;
	margin: 0.5rem auto 1rem auto;
	text-align: center;
	padding:1.3rem 1rem 1.3rem 1rem;
	border-radius:10px;
	border:none;
	font-weight: bold;
	font-size: 2rem;
}
.time-button{
	padding: 0.8rem 2rem 0.8rem 2rem;
	border-radius: 8px;
	margin-right:2rem;
	color: #fff;
	background-color: #EF9440;
	border: none;
	font-weight: bold;
	font-size: large;
}
#start{
	margin-left:5rem
	padding:0.8rem 3rem
}
#submit{
	padding:0.8rem 3rem;
}

/* フォームの黄緑 */
.form {
	margin: 1rem 0 1rem 0;
	padding: 0.3rem;
	border-radius: 0.3rem;
	background-color: var(--light-green);
	border: none;
}

.weight{
	text-align: center;
	 border-color: #FFB13C;
	  outline: none;
	font-size: 1.3rem;
	border-radius: 0.3rem;
}

/* グラフの大きさ、位置 */
.gragh{
	margin:0;

}
.chart-container {
	width: 80%;
	height: 80%;
	margin-bottom: 20px;
}
