@charset "UTF-8";

/* ポップアップ（現在体重） */
/* ラベルの大きさ　h1と合わせる */
.popup-text {
    font-size: 1.3rem;
	font-weight: bold;
}

/* タイマー */
/* タイマー全体 */
.timer{
	margin:0 auto;
}

#time {
    color: #fff;
	background-color:#FFB13C ;
	max-width: 35rem;
	margin: 0.5rem auto 1rem auto;
	text-align: center;
	padding:1.5rem 1rem 1.5rem 1rem;
	border-radius:15px;
	border:none;
	font-weight: bold;
	font-size: 2rem;
}
.time-button{
	padding: 0.8rem 1rem ;
	border-radius: 12px;
	margin-right:1.3rem;
	color: #fff;
	background-color: #EF9440;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
}
#start{
	margin-left:11.4rem;

	padding:0.8rem 2.6rem;
}
#submit{
	padding:0.8rem 2.6rem;
}

/* フォームの黄緑 */
.form {
	margin: 1rem 0 1rem 0;
	padding: 0.3rem;
	border-radius: 0.3rem;
	background-color: var(--light-green);
	border: none;
}


.weight{
	margin:0.8rem auto 2rem auto;
	border-radius:0.3rem;
	 border-color: #FFB13C;
	  outline: none;
	font-size: 1.3rem;
}

/* グラフの大きさ、位置 */
.gragh{
	margin:0;

}
.chart-container {
	width: 80%;
	height: 80%;
	margin-bottom: 20px;
}
/* 病気リスト*/

.plan-list table{
	outline-color:red;
}
.plan-list table tr{
	outline-color:red;
}
