@charset "UTF-8";
/*hero*/
.now-money{
	color: red;
	text-align: center;
	font-size: 2rem;
}
.plan-money{
	text-align: center;
}
.next-money-set{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: -1rem;
}
.used-money{
	text-align: center;
}
.total-cost{
	text-align: center;
	text-decoration: underline solid green;
	font-size: 1.3rem;
}
.regist-botton{
	background-color: green;
}
.right-text {
    right: 20px;
    bottom: 20px;
    text-align: right;
    background-color: #E8FFDF;
    padding: 10px;
    border-radius: 5px;
}
.red-comment {
	color: red;
}
.chart-container {
	width: 80%;
	height: 80%;
	margin-bottom: 20px;
}
