@charset "UTF-8";
/*hero*/
.now-money{
	color: red;
	text-align: center;
	font-size: 2rem;
}
.plan-money{
	text-align: center;
}
.next-money-set{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: -1rem;
}
.used-money{
	text-align: center;
}
.inv-comment{
	background-color: var(--light-green);
	display: flex;
    justify-content: flex-end;
}
.total-cost{
	text-align: center;
	text-decoration: underline solid green;
	font-size: 1.3rem;
}
.regist-botton{
	background-color: green;
}
.right-text {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.8); /* 背景色を少し透明にして読みやすくする */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}