@charset "UTF-8";
/*hero*/
.now-money{
	color: red;
	text-align: center;
	font-size: 2rem;
}
.plan-money{
	text-align: center;
}
.next-money-set{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: -1rem;
}
.used-money{
	text-align: center;
}
.inv-comment{
	background-color: var(--light-green);
	display: flex;
    justify-content: flex-end;
}
.total-cost{
	text-align: center;
	text-decoration: underline solid green;
	font-size: 1.3rem;
}