@charset "UTF-8";
html{
	 	font-size:20px;
	width:100%;
}
h1{
  font-size:100%;
  color: #008000;
}

h3{
  font-size:100%;
  color: #FD7E00;
}

/* ul{
  padding-left:0;
}
 */
/* li{
  list-style:none;
} */

.txt {
  margin-top: 1em;
  padding-bottom: 0.5em;
}
.txt01 {
  border-bottom: 2px dashed #FD7E00;
}

.text {
  /*真ん中の要素*/
  background: orange;
  padding: 10px;
  margin: 10px;
}

.box {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #000;
}
/* .display-flex {
  display: flex;
} */

.child {
  float: left;
  width: 33.33%; /* 幅を均等に設定 */
  /* 必要なマージンやパディングの調整 */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.orenzi {
  color: white;/*文字色*/
  font-weight:bold;
  font-size:0.8rem;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #FFB13C;/*背景色*/
  vertical-align: middle;
  border-radius: 25px;/*左側の角を丸く*/
}

.display-flex{
  margin-bottom: 10px;
}

.iro{
  padding: 10px 20px;
}

.user-status{
	display:flex;
	width:100%;
	  justify-content: space-between;
	  height:15rem;
}
.group{
  width:40%;
}
.group table{
 	width:95%;
 	height:90%;
 	margin-top:0.6rem;
}
.box1{
  width:60%;
    height:100%;
/*   position:absolute;
  top:20px;
  right:80px; */
  background-color:#CCFFCC	;
  color:#57A66D;
  border-radius: 30px;
	font-size:0.9rem;
}

.upd{
	width:95%;
}
.update{
font-size:0.55rem;
margin-left:0.3rem;
}
.password {
  display: flex;
  height:50%;
  justify-content: flex-end;
  position: relative;
	margin-bottom:10px;
	flex-wrap: wrap;
 }

 .btn-square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #FFFFFF ;
  width: 40%;
  height: 2.5rem;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-size:15px;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  margin: 10px;
}

.btn-square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

.comment{
	border-style:solid;
	border-color:green;

}

chart-container {
	width: 80%;
	height: 80%;
	margin-bottom: 20px;
}

.iro1{
	color: #ff00ff ;
}

.com{
	text-align:left;
}