@charset "UTF-8";

/*アウトライン表示*/
/* *{
	outline:1px dashed #0000ff;
} */


/*hero*/
.now-plan{
	color: red;
	text-align: center;
	font-size: 2rem;
}
.plan-time{
	text-align: center;
}
.next-plan-set{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: -1rem;
}

/*計測ボタン*/
.time-button{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: 1rem;
}
.time-button input{
	padding: 1.2rem 3rem 1.2rem 3rem;
	border-radius: 4px;
	color: #fff;
	background-color: #EF9440;
	border: none;
	font-weight: bold;
	font-size: large;
}

