@charset "UTF-8";

/*アウトライン表示*/
/*  *{
	outline:1px dashed #0000ff;
} */


/*hero*/
.now-plan{
	color: red;
	text-align: center;
	font-size: 2rem;
}
.plan-time{
	text-align: center;
}
.next-plan-set{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: 0;
}

/*計測ボタン*/
.time-button{
	display: flex;
	justify-content: center;
	gap: 3rem;
	margin-top: 1rem;
}
.time-button input{
	padding: 1rem 2.2rem 1rem 2.2rem;
	border-radius: 15px;
	color: #fff;
	background-color: #EF9440;
	border: none;
	font-weight: bold;
	font-size: 1.3rem;
}

/*formの幅変更*/
.form{
	width: 100%;
}
.form input{
	margin: 0.3rem;
}
.form .new-task{
	width: 45%;
	margin-left: 0.2rem;
}
.form .time{
	width: 30%;
	padding:0.1rem;
}
.form .arrival{
	width:40%;
}
.form .destination{
	width: 85%;
}

.form .address{
	width:65%;
}

.com{
	text-align: left;
}


.mytask{
	text-align:right;
	margin-bottom:1rem;
}
